In [4]:
USE [Sample]

## **Views**

1\. Створіть представлення, яке містить дані всіх співробітників, які працюють у відділі d1.

In [17]:
GO
CREATE VIEW d1_employee (emp_no, emp_fname, emp_lname, dept_no)
    AS SELECT emp_no, emp_fname, emp_lname, dept_no
        FROM employee
        WHERE dept_no = 'd1'

GO
SELECT * FROM d1_employee

: Msg 2714, Level 16, State 3, Procedure d1_employee, Line 1
There is already an object named 'd1_employee' in the database.

emp_no,emp_fname,emp_lname,dept_no
18316,John,Barrimore,d1
28559,Sybill,Moser,d1

2\. Для таблиці project створіть представлення, яке може використовуватись тими співробітниками, яким дозволено переглядати дані з цієї таблиці за винятком стовпця budget.

3. Створіть представлення, яке містить імена та прізвища всіх співробітників, які почали працювати над проектами в другій половині 2007 року.

4.